<div class="jumbotron text-center">
<h1 class="display-5">
  Angular Dual Multiselect
</h1>
</div>

<div class="container">
<div class="row custom-wrapper">
  <div class="col-md-12">
    <div class="col-md-6" style ="display:inline-block;">
       <!-- Form starts -->
    <form [formGroup]="leftForm" (ngSubmit)="onSubmit()">
      <!-- Gender -->
      <div class="group-gap">
        <div class="d-block my-3">

          <div class="mb-3">
            <select multiple class="custom-select" formControlName="CityLeft">

            <option *ngFor="let city of CityLeft" [ngValue]="city" (change)="changeCity($event)">{{city}}</option>
          </select>

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && CityLeft.errors?.required">
              <sup>*</sup>Please enter your city name
            </div>
          </div>

        </div>
      </div>
      <div id="outer">
        <div class="inner"><button type="submit" class="btn btn-danger btn-block" style ="display:inline;">All</button></div>
        <div class="inner"><button type="submit" class="btn btn-danger btn-block"  style ="display:inline;">None</button></div>
      </div>
    </form><!-- Form ends -->
    </div>
     <div class="col-md-6" style ="display:inline-block">
       <!-- Form starts -->
    <form [formGroup]="rightForm" (ngSubmit)="onSubmit()">
      <!-- Gender -->
      <div class="group-gap">
        <div class="d-block my-3">

          <div class="mb-3">
            <select multiple class="custom-select" formControlName="CityRight">

            <option *ngFor="let city of CityRight" [ngValue]="city" (change)="changeCity($event)">{{city}}</option>
          </select>

            <!-- error block -->
            <div class="invalid-feedback" *ngIf="isSubmitted && CityRight.errors?.required">
              <sup>*</sup>Please enter your city name
            </div>
          </div>

        </div>
       
      
      </div>
      <div id="outer">
        <div class="inner"><button type="submit" class="btn btn-danger btn-block" style ="display:inline;">All</button></div>
        <div class="inner"><button type="submit" class="btn btn-danger btn-block"  style ="display:inline;">None</button></div>
      </div>

     
    </form><!-- Form ends -->
     </div>
  </div>
</div>
</div>