<div class="jumbotron text-center">
  <h1 class="display-5">
    Angular Dual Multiselect
  </h1>
</div>

<div class="container">
  
   
      <div class="col-md-4" style="display:inline-block;">
        <!-- Form starts -->
        <form [formGroup]="leftForm" (ngSubmit)="onSubmit()">
          <!-- Gender -->
          <div class="group-gap">
            <div class="d-block my-3">

              <div class="mb-3">
                <select multiple class="custom-select" formControlName="CityLeft">
              <option *ngFor="let item of available.sift; let idx=index;"
              (click)="disabled ? null : selectItem(available.pick, item); shiftClick($event, idx, available, item)"
              [ngClass]="{selected: isItemSelected(available.pick, item), disabled: disabled}"
              [draggable]="!disabled && format.draggable" (dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)"
              >{{item._name}}</option>
          </select>

                <!-- error block -->
                <div class="invalid-feedback" *ngIf="isSubmitted && CityLeft.errors?.required">
                  <sup>*</sup>Please enter your city name
                </div>
              </div>

            </div>
          </div>
          
          <div id="outer">
            <div class="inner">
              <button type="submit" class="btn btn-primary pull-left" (click)="selectAll(available)" [disabled]="disabled || isAllSelected(available)" style ="display:inline;">Select All</button>
            </div>
            <div class="inner"><button type="submit" class="btn btn-primary pull-right" (click)="selectNone(available)"
          [disabled]="!isAnySelected(available)"  style ="display:inline;">None</button></div>
          </div>
        </form><!-- Form ends -->
      </div>
      <div  class="col-md-4" style="display:inline-block;margin: 20px;">
      <button type="button" name="addBtn" class="btn btn-primary btn-block"
  (click)="moveItem(available, confirmed)" [ngClass]="'point-right'" 
  [disabled]="available.pick.length === 0"></button>
  <button type="button" name="removeBtn" class="btn btn-primary btn-block"
			(click)="moveItem(confirmed, available)" [ngClass]="'point-left'"
			[disabled]="confirmed.pick.length === 0"></button>
      </div>
      <div class="col-md-4" style="display:inline-block">
        <!-- Form starts -->
        <form [formGroup]="rightForm" (ngSubmit)="onSubmit()">
          <!-- Gender -->
          <div class="group-gap">
            <div class="d-block my-3">

              <div class="mb-3">
                <select multiple class="custom-select" formControlName="CityRight">
                  <option #itmConf *ngFor="let item of confirmed.sift; let idx=index;"
                  (click)="disabled ? null : selectItem(confirmed.pick, item); shiftClick($event, idx, confirmed, item)"
                  [ngClass]="{selected: isItemSelected(confirmed.pick, item), disabled: disabled}"
                  [draggable]="!disabled && format.draggable" (dragstart)="drag($event, item, confirmed)" (dragend)="dragEnd(confirmed)">{{item._name}}</option>
            <!-- <option *ngFor="let city of CityRight" [ngValue]="city" (change)="changeCity($event)">{{city}}</option> -->
          </select>

                <!-- error block -->
                <div class="invalid-feedback" *ngIf="isSubmitted && CityRight.errors?.required">
                  <sup>*</sup>Please enter your city name
                </div>
              </div>

            </div>


          </div>
          <div id="outer">
            <div class="inner">
            <button type="submit" class="btn btn-primary pull-left" (click)="selectAll(available)" [disabled]="disabled || isAllSelected(available)" style ="display:inline;">Deselect All</button></div>
            <div class="inner">
            <button type="submit" class="btn btn-primary pull-right" (click)="selectNone(available)"
            [disabled]="!isAnySelected(available)"  style ="display:inline;">None</button></div>
          </div>


        </form><!-- Form ends -->
      </div>
    
 
</div>